.navbar {
    min-width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    background-color: #201F24;

    .logo_box {
        padding-block: 40px;
        padding-inline: 32px;
    }

    .navigation_buttons_box {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-right: 30px;
        height: 100%;

        .navigation_button {
            display: flex;
            align-items: center;
            gap: 1rem;
            padding-inline: 32px;
            padding-block: 16px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            text-decoration: none;
            cursor: pointer;

            transition: all 0.5s;

            h3 {
                color: #B3B3B3;
            }

            &:hover {
                padding-left: 25px;
                border-left: 5px solid #277C78;
                background-color: #B3B3B3;

                h3 {
                    color: #201F24;
                }

                // img {
                //     fill: #277C78;
                // }
            }

            &.selected {
                padding-left: 25px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                border-left: 5px solid #277C78;
                background-color: #F8F4F0;

                h3 {
                    color: #201F24;
                }

                // img {
                //     fill: #277C78;
                // }
            }
        }
    }

    .navigation_footer_box {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-block: 40px;
        padding-inline: 32px;
        cursor: pointer;
        transition: all 0.5s;

        h2 {
            font-size: 1rem;
            font-weight: 500;
            color: #B3B3B3;
        }

        &:hover {
            transform: scale(1.1);
            transform: translateX(15px);
        }
    }
}