@font-face {
    font-family: 'PublicSans';
    src: url(./assets/fonts/static/PublicSans-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PublicSans', sans-serif;
}

.summary_card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 32px;
    background-color: #fff;
    border-radius: 10px;
}