@font-face {
    font-family: 'PublicSans';
    src: url('./assets/fonts/static/PublicSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PublicSans";
}

:root {
    --dark: #201F24;
    --dark-muted: #5a5a5a;
    --white: #F8F4F0;
    --white-muted: #ffffff97;
    --red: #C94736;
    --red-muted: #ff8778;
    --green: #277C78;
    --green-muted: #80c0bd;
    --blue: #005EC3;
    --blue-muted: #3c76b3;
    --yellow: #F2CDAC;
    --orange: #e3812b;
    --gray: #686868;
    --light-gray: #B3B3B3;
    --navy: #626070;
    --cyan: #82C9D7;
}